<section>
  <div class="container">
    <div class="page-header">
      <h1><center>Welcome: {{name}}</center></h1>
    </div>
    <a ng-click = "logout()"> Logout</a>
      <div class="well blockquote">
        <span style="width:250px;height:250px;background:lightgray"><a ng-click = "next('createSession')" style="display:block">Create Session</a></span>
        <span style="width:250px;height:250px;background:lightgray"> <a ng-click = "viewSession('userid')" style="display:block">View Session</a></span>
      </div>

    </div>

</section>
