html, body {
  padding: 10px 2px;
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form {
  background: #E6E6FA;
  padding:20px;
  border-radius:3px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
